<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHIBB HOUSE</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/sweetalert2.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/Chart.js"></script>
    <script type="text/javascript" src="/js/chart_type.js"></script>
    <script type="text/javascript" src="/js/chartjs-plugin-zoom.js"></script>

</head>


{{{body}}}

<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript" src="/js/sweetalert2.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="/js/register.js"></script>
<script type="text/javascript" src="/js/nodemanager.js"></script>
<script type="text/javascript" src="/js/chart_download.js"></script>
<script type="text/javascript" src="/js/line_bar_chart.js"></script>
<script type="text/javascript" src="/js/googlemap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVpGE8GupWpB9SqhiiQ2mSZlKgGACo_Xo&callback=myMap" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/scrolling-nav.js"></script>


</html>