<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">

                    <li role="presentation"><a href="">Dashboard</a></li>

            </ul>
        </nav>
    </div>
</div>

<div class="col-xs-12">
    <div id="chartdiv"></div>
</div>






